<template>
    <div class="submenu">
        <div :class="['menu-item', active == 1 && 'active']" @click="$router.push(`/member/${memberId}`)">
            <span>โปรไฟล์</span>
        </div>
        <div :class="['menu-item', active == 2 && 'active']" @click="$router.push(`/member/${memberId}/order`)">
            <span>ออเดอร์</span>
        </div>
        <div :class="['menu-item', active == 3 && 'active']" @click="$router.push(`/member/${memberId}/payment`)">
            <span>ธุรกรรม</span>
        </div>
        <div :class="['menu-item', active == 4 && 'active']" @click="$router.push(`/member/${memberId}/review`)">
            <span>รีวิว</span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['memberId', 'active']
}
</script>

<style lang="scss" scoped>
.submenu {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 600px;
    >div {
        padding: 7px 15px;
        border-right: 1px solid #eee;
        cursor: pointer;
        background: #f7f7f7;
        flex: 1;
        text-align: center;
        &:nth-child(1) {
            border-radius: 10px 0px 0px 10px;
        }
        &:last-child {
            border-radius: 0px 10px 10px 0px;
        }
        &.active {
            background: #2c1e11;
            color: white;
        }
    }
}
</style>
