<template>
    <div class="create-rider-step2">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="doc-contents push-up">
            <div class="doc-container">
                <section>
                    <h2>1. ใบขับขี่</h2>
                    <b-field>
                        <div :class="['image-upload', driverCardPreview != null && 'has-image']">
                            <label>
                                <img
                                    v-if="driverCardPreview != null"
                                    :src="driverCardPreview"
                                >
                                <img
                                    v-else
                                    src="http://www.newtv.co.th/images/thumbnail/l/20210131053242_new18.jpg"
                                    class="default-image"
                                >
                                <input type="file" accept="image/*" @change="setDriverCard">
                            </label>
                        </div>
                    </b-field>
                    <h3>วันหมดอายุ ใบขับขี่</h3>
                    <b-field>
                        <b-radio type="is-dark" v-model="isExpDriverCard" :native-value="true">
                            มีวันหมดอายุ
                        </b-radio>
                    </b-field>
                    <b-field v-if="isExpDriverCard" label="วันหมดอายุ ใบขับขี่">
                        <b-datepicker
                            :mobile-native="false"
                            icon="calendar-today"
                            v-model="expDriverLicense"
                            :datetime-formatter="(date) => opDateTimeFormat(date)"
                            :editable="false">
                        </b-datepicker>
                    </b-field>
                    <b-field>
                        <b-radio type="is-dark" v-model="isExpDriverCard" :native-value="false">
                            ตลอดชีพ
                        </b-radio>
                    </b-field>
                </section>
                <section>
                    <h2>2. บัตรประจำตัวประชาชน</h2>
                    <b-field>
                        <div :class="['image-upload', idCardPreview != null && 'has-image']">
                            <label>
                                <img
                                    v-if="idCardPreview != null"
                                    :src="idCardPreview"
                                >
                                <img
                                    v-else
                                    src="https://freepikpsd.com/wp-content/uploads/2019/10/%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%A3%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B2%E0%B8%8A%E0%B8%99-png-1.png"
                                    class="default-image"
                                >
                                <input type="file" accept="image/*" @change="setIdCard">
                            </label>
                        </div>
                    </b-field>
                    <h3>วันหมดอายุ บัตรประจำตัวประชาชน</h3>
                    <b-field>
                        <b-datepicker
                            :mobile-native="false"
                            icon="calendar-today"
                            v-model="expIdCard"
                            :datetime-formatter="(date) => opDateTimeFormat(date)"
                            :editable="false">
                        </b-datepicker>
                    </b-field>
                </section>
            </div>
        </div>
        <section class="mt-4 mb-4 footer-tools">
            <b-button type="is-success" style="width: 150px">
                บันทึก
            </b-button>
        </section>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import mixin from '@/mixin'
export default {
    components: {
        Breadcrumb
    },
    data() {
        return {
            driverCardPreview: null,
            idCardPreview: null,
            isExpDriverCard: true,
            driverCardImg: null,
            idCardImg: null,
            expDriverCard: null,
            expIdCard: null
        }
    },
    mixins: [mixin],
    computed: {
        breadcrumbData() {
            return [
                {
                    title: 'back',
                    path: `/rider/${this.$route.params.id}`
                },
                {
                    title: 'อัพโหลดเอกสาร'
                }
            ]
        }
    },
    methods: {
        setDriverCard(e) {
            const file = e.target.files[0]
            if (!file.type.includes('image/')) {
                alert('Please select an image file')
                return
            }
            if (typeof FileReader === 'function') {
                const reader = new FileReader()
                reader.onload = (event) => {
                    this.driverCardPreview = event.target.result
                }
                reader.readAsDataURL(file)
            } else {
                alert('Sorry, FileReader API not supported')
            }
        },
        setIdCard(e) {
            const file = e.target.files[0]
            if (!file.type.includes('image/')) {
                alert('Please select an image file')
                return
            }
            if (typeof FileReader === 'function') {
                const reader = new FileReader()
                reader.onload = (event) => {
                    this.idCardPreview = event.target.result
                }
                reader.readAsDataURL(file)
            } else {
                alert('Sorry, FileReader API not supported')
            }
        }
    }
}
</script>

<style lang="scss">
.doc-contents {
    display: flex;
    justify-content: center;
    background: white;
    .doc-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1000px;
        max-width: 100%;
        >section {
            flex: 1;
            margin: 5%;
            min-width: 300px;
        }
        h2 {
            font-size: 1.3em;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 1.1em;
            margin-bottom: 15px;
        }
    }
}
.image-upload {
    position: relative;
    >label {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #eee;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 15px 0px;
        transition: .3s;
        cursor: pointer;
        height: 300px;
        margin-bottom: 30px;
        position: relative;
        >img {
            width: 450px;
            max-width: 100%;
            margin-bottom: 20px;
            height: 100%;
            object-fit: contain;
        }
        >input {
            display: none;
        }
        &::after {
            content: 'คลิกที่รูป เพื่ออัพโหลด';
            color: white;
            width: 100%;
            height: 40px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            background: #4b4b4bc7;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &.has-image {
        &::after {
            content: 'คลิกที่รูป เพื่อเปลี่ยนรูป'
        }
    }
    &:hover {
        >label {
            background: #ddd;
        }
    }
}
.footer-tools {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
