<template>
    <div class="rider-edit-contents">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="body-contents">
            <section class="form-section">
                <b-field label="คำนำหน้าชื่อ">
                    <b-select placeholder="คำนำหน้าชื่อ" expanded v-model="editForm.titleName">
                        <option
                            v-for="(t, index) in titleName"
                            :value="t"
                            :key="index">
                            {{ t }}
                        </option>
                    </b-select>
                </b-field>
                <b-field label="ชื่อจริง">
                    <b-input v-model="editForm.firstName"></b-input>
                </b-field>
                <b-field label="นามสกุล">
                    <b-input v-model="editForm.lastName"></b-input>
                </b-field>
                <b-field label="อีเมล">
                    <b-input type="email" v-model="editForm.email"></b-input>
                </b-field>
                <b-field label="รหัสผ่าน">
                    <b-input type="password" v-model="editForm.password" password-reveal></b-input>
                </b-field>
                <b-field label="เบอร์โทร">
                    <PhoneSelector
                        :country="editForm.country"
                        :phoneNumber="editForm.phoneNumber"
                        @eventCountry="setCountry"
                        @event-phone-number="setPhoneNumber"
                        :phoneNumberInput="false"
                    ></PhoneSelector>
                </b-field>
                <b-field label="วันเกิด">
                    <b-datepicker
                        :mobile-native="false"
                        icon="calendar-today"
                        v-model="editForm.birthday"
                        :datetime-formatter="(date) => opDateTimeFormat(date)"
                        :editable="false">
                    </b-datepicker>
                </b-field>
                <b-field label="เลขบัตรประชาชน 13 หลัก">
                    <b-input v-model="editForm.idCardNumber" maxlength="13"></b-input>
                </b-field>
                <b-field label="ตัวอักษรเลเซอร์หลังบัตร 12 หลัก">
                    <b-input v-model="editForm.laserCode" maxlength="12"></b-input>
                </b-field>
                <img src="https://thaihitz.com/wp-content/uploads/2019/10/%E0%B9%80%E0%B8%A5%E0%B8%82-1.png">
            </section>
            <section class="d-flex">
                <b-button type="is-success" style="width: 150px" @click="save()">
                    บันทึก
                </b-button>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import PhoneSelector from '@/components/global/PhoneSelector'
import countries from '@/plugins/countries.js'
import mixin from '@/mixin'
import { riderApi } from '@/services'
export default {
    mixins: [mixin],
    components: {
        Breadcrumb,
        PhoneSelector
    },
    data() {
        return {
            titleName: ['นาย', 'นางสาว', 'นาง', 'เด็กชาย', 'เด็กหญิง'],
            breadcrumbData: [
                {
                    title: 'back',
                    path: `/rider/${this.$route.params.id}`
                },
                {
                    title: 'แก้ไขข้อมูล'
                }
            ],
            editForm: {
                titleName: 'นาย',
                firstName: '',
                lastName: '',
                email: '',
                password: '',
                phoneNumber: '',
                country: countries[217],
                countryId: countries[217].id,
                birthday: null,
                idCardNumber: '',
                laserCode: ''
            }
        }
    },
    methods: {
        setPhoneNumber(value) {
            this.editForm.phoneNumber = value
        },
        setCountry(value) {
            this.editForm.country = value
        },
        async save() {
            const res = await riderApi.editRider(this.editForm)
            console.log(res)
        }
    }
}
</script>

<style lang="scss">
@import '@/assets/scss/main.scss';
.rider-edit-contents {
    .body-contents {
        display: flex;
        justify-content: center;
        animation: pushUp .5s ease;
        .form-section {
            width: 600px;
            max-width: 100%;
        }
    }
}
</style>
