<template>
    <div class="rider-contents">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="rider-contents push-up">
            <div class="rider-info">
                <h2>ข้อมูลส่วนตัว</h2>
                <b-field label="ชื่อ">
                    <p>{{ rider.firstName }} {{ rider.lastName }}</p>
                </b-field>
                <b-field label="อีเมล">
                    <p>{{ rider.email }}</p>
                </b-field>
                <b-field label="เบอร์โทร">
                    <p>{{ rider.phoneNumber }}</p>
                </b-field>
                <b-field label="วันเกิด">
                    <p>{{ rider.birthday }}</p>
                </b-field>
                <b-field label="เลขบัตรประชาชน">
                    <p>{{ rider.idCardNumber }}</p>
                </b-field>
                <b-field>
                    <b-button expanded type="is-primary" @click="$router.push(`/rider/${$route.params.id}/edit`)">
                        แก้ไขข้อมูล
                    </b-button>
                </b-field>
            </div>
            <div class="right-content">
                <h2>เอกสารทั้งหมด</h2>
                <div class="menu-list">
                    <div class="menu-item">
                        <div class="list-complete"></div>
                        <div>
                            <p>ข้อมูลส่วนตัว</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="list-warning"></div>
                        <div>
                            <p>รูปเอกสาร บัตรประชาชน ใบขับขี่</p>
                        </div>
                        <div>
                            <b-button @click="$router.push(`/rider/${$route.params.id}/document`)">
                                ตั้งค่า
                            </b-button>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="list-warning"></div>
                        <div>
                            <p>ข้อมูลยานพาหนะ</p>
                        </div>
                        <div>
                            <b-button @click="$router.push(`/rider/${$route.params.id}/vehicle`)">
                                ตั้งค่า
                            </b-button>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="list-warning"></div>
                        <div>
                            <p>กำหนดเวลาทำงาน</p>
                        </div>
                        <div>
                            <b-button @click="$router.push(`/rider/${$route.params.id}/workTime`)">
                                ตั้งค่า
                            </b-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import { riderApi } from '@/services'
export default {
    components: {
        Breadcrumb
    },
    data() {
        return {
            rider: {}
        }
    },
    created() {
        this.getRiderData()
    },
    computed: {
        breadcrumbData() {
            return [
                {
                    title: 'Rider List',
                    path: '/rider'
                },
                {
                    title: `${this.rider.firstName} ${this.rider.lastName}`
                }
            ]
        }
    },
    methods: {
        async getRiderData() {
            const res = await riderApi.getRider(this.$route.params.id)
            this.rider = res
        }
    }
}
</script>

<style lang="scss">
%box {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px #eee;
}
.rider-contents {
    .rider-contents {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h2 {
            font-size: 1.4em;
            margin-bottom: 20px;
        }
        >.rider-info {
            width: 350px;
            max-width: 100%;
            @extend %box;
        }
        .right-content {
            flex: 1;
            @extend %box;
            >.menu-list {
                .menu-item {
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid #f5f5f5;
                    padding: 10px;
                    &:last-child {
                        >div:nth-child(1)::after {
                            display: none;
                        }
                    }
                    >div {
                        &:nth-child(1) {
                            width: 40px;
                            height: 40px;
                            background-position: center center;
                            background-size: contain;
                            position: relative;
                            &::after {
                                content: '';
                                width: 3px;
                                height: 25px;
                                background: #ab8a6b;
                                position: absolute;
                                left: 50%;
                                bottom: 0px;
                                transform: translateY(100%);
                            }
                            &.list-complete {
                                background-image: url('~@/assets/images/check-circle.png');
                            }
                            &.list-warning {
                                background-image: url('~@/assets/images/empty-circle.png');
                            }
                        }
                        &:nth-child(2) {
                            display: flex;
                            align-items: center;
                            padding-left: 20px;
                            font-family: Kanit-Medium;
                            flex: 1;
                            font-size: 1.1em;
                        }
                        &:nth-child(3) {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}
</style>
