<template>
    <section class="vehicle-contents">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
            <div class="tools">
                <b-button class="is-primary" icon-left="plus" @click="openCreateModal()">
                    เพิ่ม
                </b-button>
            </div>
        </div>
        <div class="vehicle-body push-up">
            <div class="vehicle-list">
                <div class="vehicle-item" v-for="(v, index) in vehicels" :key="index">
                    <div class="details">
                        <h2>{{ v.licensePlate }}</h2>
                        <p>{{ v.brand }} {{ v.models }}</p>
                        <div>
                            <b-tag :type="v.isEnable ? 'is-success' : 'is-default'">
                                {{ v.isEnable ? 'ใช้งาน' : 'ไม่ไช้งาน' }}
                            </b-tag>
                        </div>
                    </div>
                    <section>
                        <div class="footer-card">
                            <button expanded class="is-primary" @click="openEditModal(v.id)">
                                <i class="fa fa-pencil-alt"></i>
                            </button>
                            <button expanded class="is-danger" @click="confirmDelete(v.id)">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <b-modal v-model="isShowCreateModal" :width="600">
            <div class="card">
                <header class="modal-card-head">
                    <p class="modal-card-title">เพิ่มยานพาหนะ</p>
                    <button
                        type="button"
                        class="delete"
                        @click="isShowCreateModal = false"/>
                </header>
                <section class="modal-card-body">
                    <form>
                        <b-field label="ยี่ห้อรถ">
                            <b-input v-model="createForm.brand"></b-input>
                        </b-field>
                        <b-field label="รุ่นของรถ">
                            <b-input v-model="createForm.models"></b-input>
                        </b-field>
                        <b-field label="ปีที่เป็นเจ้าของ">
                            <b-input v-model="createForm.year"></b-input>
                        </b-field>
                        <b-field label="ป้ายทะเบียนรถ">
                            <b-input v-model="createForm.licensePlate"></b-input>
                        </b-field>
                        <b-field label="สีของรถ">
                            <b-input v-model="createForm.color"></b-input>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="createForm.isSupportHandicapped">
                                ผู้พิการสามารถเรียกใช้บริการได้
                            </b-checkbox>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="createForm.isSupportKid">
                                มีที่นั่งสำหรับเด็ก
                            </b-checkbox>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="createForm.isPickup">
                                รถกระบะ
                            </b-checkbox>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="createForm.isPickupWithBar">
                                รถกระบะโครงเหล็กสูง
                            </b-checkbox>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="createForm.isHatchBack">
                                รถ 5 ประตู
                            </b-checkbox>
                        </b-field>
                    </form>
                </section>
                <footer class="modal-card-foot">
                    <b-button
                        label="ยกเลิก"
                        @click="isShowCreateModal = false" />
                    <b-button
                        label="บันทึก"
                        type="is-primary" />
                </footer>
            </div>
        </b-modal>
        <b-modal v-model="isShowEditModal" :width="600">
            <div class="card">
                <header class="modal-card-head">
                    <p class="modal-card-title">แก้ไขยานพาหนะ</p>
                    <button
                        type="button"
                        class="delete"
                        @click="isShowEditModal = false"/>
                </header>
                <section class="modal-card-body">
                    <form>
                        <b-field label="ยี่ห้อรถ">
                            <b-input v-model="editForm.brand"></b-input>
                        </b-field>
                        <b-field label="รุ่นของรถ">
                            <b-input v-model="editForm.models"></b-input>
                        </b-field>
                        <b-field label="ปีที่เป็นเจ้าของ">
                            <b-input v-model="editForm.year"></b-input>
                        </b-field>
                        <b-field label="ป้ายทะเบียนรถ">
                            <b-input v-model="editForm.licensePlate"></b-input>
                        </b-field>
                        <b-field label="สีของรถ">
                            <b-input v-model="editForm.color"></b-input>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="editForm.isSupportHandicapped">
                                ผู้พิการสามารถเรียกใช้บริการได้
                            </b-checkbox>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="editForm.isSupportKid">
                                มีที่นั่งสำหรับเด็ก
                            </b-checkbox>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="editForm.isPickup">
                                รถกระบะ
                            </b-checkbox>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="editForm.isPickupWithBar">
                                รถกระบะโครงเหล็กสูง
                            </b-checkbox>
                        </b-field>
                        <b-field>
                            <b-checkbox v-model="editForm.isHatchBack">
                                รถ 5 ประตู
                            </b-checkbox>
                        </b-field>
                    </form>
                </section>
                <footer class="modal-card-foot">
                    <b-button
                        label="ยกเลิก"
                        @click="isShowEditModal = false" />
                    <b-button
                        label="บันทึก"
                        type="is-primary" />
                </footer>
            </div>
        </b-modal>
    </section>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import { riderApi } from '@/services'
export default {
    components: {
        Breadcrumb
    },
    data() {
        return {
            vehicels: [
                {
                    id: 1,
                    brand: 'Yamaha',
                    models: 'Fino',
                    year: '2020',
                    licensePlate: '1 กก เชียงราย 8789',
                    color: 'red',
                    isSupportHandicapped: false,
                    isSupportKid: false,
                    isPickup: false,
                    isPickupWithBar: false,
                    isHatchBack: false,
                    isEnable: true
                }
            ],
            isShowCreateModal: false,
            createForm: {
                brand: '',
                models: '',
                year: '',
                licensePlate: '',
                color: '',
                isSupportHandicapped: false,
                isSupportKid: false,
                isPickup: false,
                isPickupWithBar: false,
                isHatchBack: false
            },
            isShowEditModal: false,
            editForm: {}
        }
    },
    computed: {
        breadcrumbData() {
            return [
                {
                    title: 'back',
                    path: `/rider/${this.$route.params.id}`
                },
                {
                    title: 'ยานพาหนะ'
                }
            ]
        }
    },
    methods: {
        async loadVehicleList () {
            const res = await riderApi.getVihecles(this.$route.params.id)
            console.log(res)
        },
        confirmDelete(vehicleId) {
            this.$swal.fire({
                title: 'ยืนยันการลบ',
                text: 'คุณต้องการลบยานพาหนะนี้หรือไม่ ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'ตกลง',
                cancelButtonText: 'ยกเลิก'
            }).then(async (confirm) => {
                if (confirm.isConfirmed) {
                    this.createLoading = true
                    const res = await riderApi.deleteVehicle(
                        this.$route.params.id,
                        vehicleId
                    )
                    this.createLoading = false
                    if (!res.data.error) {
                        this.$swal({
                            title: 'สำเร็จ',
                            text: 'ยานพาหนะได้ถูกลบแล้ว',
                            icon: 'success',
                            timer: 1000
                        }).then(res => {
                            this.loadVehicleList()
                        })
                    } else {
                        this.$swal({
                            title: 'เกิดข้อผิดพลาด',
                            text: 'ไม่สามารถลบยานพาหนะได้ กรุณาลองใหม่ภายหลัง',
                            icon: 'error'
                        })
                    }
                }
            })
        },
        openCreateModal() {
            this.isShowCreateModal = true
        },
        openEditModal(vehicleId) {
            this.editForm = this.vehicels.find(e => e.id == vehicleId)
            console.log('this.editForm', this.editForm)
            this.isShowEditModal = true
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/main.scss';
.vehicle-contents {
    .tools {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .vehicle-body {
        padding: 10px;
        .vehicle-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 10px;
            .vehicle-item {
                background: white;
                box-shadow: 3px 3px 3px #eee;
                border-radius: 4px;
                margin-bottom: 15px;
                .details {
                    padding: 10px;
                    h2 {
                        font-size: 1.1em;
                        margin-bottom: 5px;
                    }
                    p {
                        margin-bottom: 10px;
                    }
                    padding-bottom: 15px;
                }
                .footer-card {
                    padding: 5px;
                    text-align: right;
                    background: #fffbee;
                    button {
                        color: white;
                        border-radius: 50%;
                        width: 45px;
                        height: 45px;
                        border: none;
                        cursor: pointer;
                        transition: .3s;
                        &:hover {
                            filter: brightness(1.1);
                            transform: translateY(-2px);
                        }
                        &:nth-child(1) {
                            background: $COLOR1;
                        }
                        &:nth-child(2) {
                            background: $RED;
                        }
                    }
                }
            }
        }
    }
}
</style>
