<template>
    <div class="vehicle-contents">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
export default {
    data() {
        return {
            works: [
                {
                    day: 'จันทร์',
                    workHour: [
                        {
                            start: '8.00',
                            end: '9.00'
                        }
                    ]
                },
                {
                    day: 'อังคาร',
                    workHour: [
                        {
                            start: '8.00',
                            end: '9.00'
                        },
                        {
                            start: '9.00',
                            end: '10.00'
                        }
                    ]
                }
            ]
        }
    },
    components: {
        Breadcrumb
    },
    computed: {
        breadcrumbData() {
            return [
                {
                    title: 'back',
                    path: `/rider/${this.$route.params.id}`
                },
                {
                    title: 'กำหนดเวลาทำงาน'
                }
            ]
        }
    }
}
</script>
