<template>
    <div class="chat-page-list">
        <div class="headbar">
            <h2>แชท</h2>
        </div>
        <div class="body-contents">
            <ChatList />
        </div>
    </div>
</template>

<script>
import ChatList from '@/components/chat/ChatList'
export default {
    components: {
        ChatList
    }
}
</script>

<style lang="scss">
.chat-page-list {
    .body-contents {
        width: 100%;
        flex-direction: row;
        padding: 0px;
        .chat-list {
            animation: pushUp .4s ease;
        }
    }
}
</style>
