@import "~bulma/sass/utilities/_all";

/* Overrides goes between here... */
$primary: #ffbe00;
$rate-color-active: #e87725;
$primary-invert: findColorInvert($primary);

$colors: (
    "active": ($primary, $primary-invert),
);

// .button.is-primary {
//     background: #F4BC1C;
//     color: white;
//     transition: .3s;
//     &:hover {
//         background: #FED000;
//     }
// }

$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        )
    ),
    $custom-colors
);
$rate-color-active: $primary;
$rate-color: #ccc;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

.tabs li.is-active a {
    color: #555 !important;
    font-family: Kanit-Medium;
    border-bottom: 3px solid #ffbe00;
    &:hover {
        border-bottom: 3px solid #ffbe00 !important;
        color: #363636 !important;
    }
}

/* ... and here */

@import "~bulma";
@import "~buefy/src/scss/buefy";