
@font-face {
    font-family: Kanit;
    src: url('~@/assets/fonts/kanit/Kanit-Light.ttf');
}

@font-face {
    font-family: Kanit-Regular;
    src: url('~@/assets/fonts/kanit/Kanit-Regular.ttf');
}

@font-face {
    font-family: Kanit-Medium;
    src: url('~@/assets/fonts/kanit/Kanit-Medium.ttf');
}

@font-face {
    font-family: Kanit-Bold;
    src: url('~@/assets/fonts/kanit/Kanit-Bold.ttf');
}