@import './fonts.scss';
@import './variable.scss';
@import './components.scss';
@import './animate.scss';

.body-contents {
    padding: 20px 10px;
    padding-bottom: 5em;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .body-container {
        width: 600px;
        max-width: 100%;
    }
    .tools-container {
        width: 600px;
        max-width: 100%;
        margin-top: 20px;
        background: white;
    }
}

.push-up {
    animation: pushUp .5s ease;
}
.fade-in {
    animation: fadeIn 1s ease;
}

body {
    font-family: Kanit;
}

.input, select {
    background: #fefefe !important;
    font-family: Kanit;
}

้h1,h2,h3,h4,h5,h6, button {
    font-family: Kanit-Medium;
}

input::placeholder {
    font-family: 'Kanit';
    font-size: 15px;
    color: rgb(189,191,194);
}

.button {
    font-size: Kanit-Medium !important;
}

.modal-background {
    background-color: rgb(10 10 10 / 59%);
}