.headbar {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 1px solid #eee;
    background: white;
    >h2 {
        font-family: Kanit-Medium;
        font-size: 1.4em;
        flex: 1;
    }
}
