.modal-header {
    background: #ddd;
    padding: 10px;
    >h2 {
        font-size: 1.1em;
        font-family: Kanit-Medium;
    }
}
.modal-body {
    padding: 10px;
}
.modal-footer {
    display: flex;
    padding: 10px;
}
