<template>
    <div class="chat-page">
        <div class="headbar">
            <h2>แชท</h2>
        </div>
        <div class="body-contents">
            <div class="chat-list-side">
                <ChatList />
            </div>
            <div :class="['chat-view fade-in', isShowChatList && 'hide']">
                <div class="heading-chat">
                    <b-button @click="$router.push('/chat')">
                        <i class="fa fa-caret-left"></i>
                    </b-button>
                    <h2>Elon Musk</h2>
                </div>
                <div class="message-chat">
                    <div class="message"></div>
                </div>
                <div class="input-chat">
                    <div class="">
                        <b-input placeholder="พิมพ์ข้อความ ..." />
                    </div>
                    <div>
                        <b-button class="is-primary">
                            <i class="fa fa-paper-plane"></i>
                        </b-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ChatList from '@/components/chat/ChatList'
export default {
    components: {
        ChatList
    }
}
</script>

<style lang="scss">
.chat-page {
    .body-contents {
        width: 100%;
        flex-direction: row;
        padding: 0px;
        .chat-list-side {
            width: 300px;
            .chat-list {
                background: #f9f9f9;
            }
            @media screen and(max-width: 650px){
                display: none;
            }
        }
        .chat-view {
            flex: 1;
            position: relative;
            flex-direction: column;
            height: calc(100vh - 119px);
            display: flex;
            .heading-chat {
                height: 50px;
                border-bottom: 1px solid #ddd;
                padding: 10px;
                font-size: 1.2em;
                display: flex;
                flex-direction: row;
                align-items: center;
                >button {
                    border-radius: 50%;
                    display: none;
                    margin-right: 10px;
                    @media screen and(max-width: 650px) {
                        display: block;
                    }
                }
                >h2 {
                    flex: 1;
                }
            }
            .message-chat {
                flex: 1;
            }
            .input-chat {
                height: 60px;
                display: flex;
                flex-direction: row;
                >div {
                    padding: 10px;
                    &:first-child {
                        flex: 1;
                        >input {
                            background: #ccc;
                        }
                    }
                    &:last-child {
                        >button {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
}
</style>
