<template>
    <div class="breadcrump-contents">
        <template v-for="(m, index) in data">
            <div :class="['bread-item', m.path && 'link']" @click="goLink(m.path)" :key="index">
                <span v-if="m.title == 'back'">
                    <i class="fas fa-chevron-circle-left"></i>
                </span>
                <span v-else>
                    {{ m.title }}
                </span>
            </div>
        </template>
    </div>
</template>

<script>
export default {
    props: ['data'],
    methods: {
        goLink(url) {
            if (url && url != '') {
                this.$router.push(url)
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/main.scss';
.breadcrump-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: fadeIn 1s ease;
    .bread-item {
        padding: 10px;
        font-size: 1.3em;
        font-family: Kanit-Medium;
        position: relative;
        i {
            font-size: 1.5em;
        }
        &:after {
            content: '';
            width: 1px;
            background: #f3f3f3;
            height: 60%;
            right: 0px;
            top: 20%;
            position: absolute;
        }
        &.link {
            color: darken($COLOR1, 15%);
            cursor: pointer;
            &:hover {
                color: $COLOR1;
            }
            &:after {
                color: #ccc;
            }
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
</style>
