<template>
    <div
        :class="['full-warpper', isShowFullWrapper && 'show']"
        @click="closeMenu"
    >
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { mapActions } from 'vuex'
    export default {
        computed: {
            ...mapFields('main', [
                'isShowFullWrapper'
            ])
        },
        methods: {
            ...mapActions('main', [
                'CLOSE_ALL_MENU'
            ]),
            closeMenu() {
                this.CLOSE_ALL_MENU()
            }
        }
    }
</script>

<style lang="scss">
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.full-warpper {
    position: fixed;
    top: 55px;
    left: 0px;
    width: 100%;
    height: calc(100% - 55px);
    background: #c5c5c5c7;
    z-index: 5;
    display: none;
    @media screen and(max-width: 850px){
        &.show {
            display: block;
            animation: fadeIn 1s ease;
        }
    }
}
</style>
