<template>
    <div :class="['menu-app', isShowDrawerMenu && 'show']">
        <a v-for="(m, index) in menu" :key="index" @click="$router.push(m.path)">
            <div class="menu-item">
                <div>
                    <i :class="m.icon"></i>
                </div>
                <span>{{ m.title }}</span>
            </div>
        </a>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
export default {
    data() {
        return {
            menu: [
                {
                    title: 'Rider List',
                    path: '/rider',
                    icon: 'fas fa-biking'
                },
                {
                    title: 'Member List',
                    path: '/member',
                    icon: 'fa fa-users'
                }
            ]
        }
    },
    computed: {
        ...mapFields('main', [
            'isShowDrawerMenu'
        ])
    }
}
</script>

<style lang="scss">
@import '@/assets/scss/main.scss';
.menu-app {
    height: calc(100vh - 55px);
    background: #2c1e11;
    transform: translateX(0);
    transition: .3s;
    position: fixed;
    left: 0px;
    z-index: 6;
    width: 250px;
    @media screen and(max-width: 850px){
        transform: translateX(-100%);
        &.show {
            transform: translateX(0);
        }
    }
    >a {
        .menu-item {
            padding: 10px;
            border-bottom: 1px solid #222;
            transition: .3s;
            display: flex;
            flex-direction: row;
            &:hover {
                background: #3d2c1b;
            }
            span {
                color: white;
                font-family: Kanit;
            }
            >div {
                width: 40px;
                >i {
                    font-size: 1.4em;
                    color: $COLOR1;
                }
            }
        }
    }
}
</style>
