<template>
    <div class="navbar">
        <div class="menu-button" @click="TOGGLE_DRAWER_MENU()">
            <i class="fa fa-bars"></i>
        </div>
        <div class="logo" @click="$router.push('/')">
            <img src="@/assets/images/logo.png" />
        </div>
        <div class="right-menu">
            <div @click="$router.push('/chat')">
                <img src="@/assets/images/chat-icon.png">
                <span>5</span>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
    computed: {
        ...mapFields('main', [
            'isShowDrawerMenu',
            'isShowFullWrapper'
        ])
    },
    methods: {
        ...mapActions('main', [
            'TOGGLE_DRAWER_MENU'
        ])
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/main.scss';
.navbar {
    height: 55px;
    background: #ffbe00;
    display: flex;
    flex-direction: row;
    .menu-button {
        width: 55px;
        color: white;
        display: none;
        justify-content: center;
        align-items: center;
        background: #2c1e11;
        >i {
            font-size: 1.7em;
        }
        @media screen and(max-width: 850px){
            display: flex;
        }
    }
    .logo {
        width: 250px;
        padding: 7px;
        display: flex;
        align-items: center;
        cursor: pointer;
            &:hover {
                >img {
                    transform: scale(1.1);
                }
            }
        >img {
            max-width: 100%;
            height: 100%;
            transition: .15s;
        }
    }
    .right-menu {
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        display: flex;
        >div {
            width: 80px;
            height: 100%;
            padding: 5px;
            position: relative;
            background: $COLOR1;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: .3s;
            &:hover {
                background: darken($COLOR1, 10%);
            }
            >img {
                height: 100%;
            }
            >span {
                background: red;
                font-size: .8em;
                padding: 0px 8px;
                border-radius: 50%;
                color: white;
                position: absolute;
                right: 10%;
                top: 10px;
            }
        }
    }
}
</style>
