<template>
    <div class="chat-list">
        <div class="chat-item" v-for="(c, index) in chatList" :key="index" @click="$router.push(`/chat/${c.id}`)">
            <div class="img-container">
                <div class="img-box">
                    <i :class="iconImg[c.type]" />
                </div>
            </div>
            <div class="details">
                <h3>
                    {{ c.name }}
                </h3>
                <p>{{ c.lastMessage }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            iconImg: [
                '',
                'fa fa-user',
                'fas fa-biking',
                'fa fa-home'
            ],
            chatList: [
                {
                    id: 1,
                    name: 'Elon Musk',
                    type: 1, // 1 = member / 2 = rider / 3 = shop
                    lastMessage: 'ok ได้เลย',
                    date: new Date()
                },
                {
                    id: 2,
                    name: 'Harry Potter',
                    type: 2, // 1 = member / 2 = rider / 3 = shop
                    lastMessage: 'ลูกค้าไม่รับของครับ',
                    date: new Date()
                }
            ]
        }
    }
}
</script>

<style lang="scss">
.chat-list {
    width: 100%;
    height: calc(100vh - 119px);
    .chat-item {
        display: flex;
        flex-direction: row;
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background: #f1f1f1;
        }
        .img-container {
            .img-box {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #333;
                color: white;
                >i {
                    font-size: 1.4em;
                }
            }
        }
        .details {
            flex: 1;
            padding: 0px 15px;
            >p {
                font-size: .9em;
                color: #777;
            }
        }
    }
}
</style>
