<template>
    <div class="rider-list-contents">
        <div class="headbar">
            <h2>Rider List</h2>
            <b-button type="is-dark" icon-left="plus" @click="$router.push('/rider/create')">
                Create Rider
            </b-button>
        </div>
        <div class="body-container">
            <div class="rider-list" v-if="riderList.length > 0">
                <b-table :data="riderList">
                    <b-table-column field="first_name" label="ชื่อ" v-slot="props">
                        {{ props.row.firstName }}
                    </b-table-column>
                    <b-table-column field="last_name" label="นามสกุล" v-slot="props">
                        {{ props.row.lastName }}
                    </b-table-column>
                    <b-table-column field="date" label="วันที่สมัคร" centered v-slot="props">
                        {{ new Date(props.row.registerDate).toLocaleDateString() }}
                    </b-table-column>
                    <b-table-column label="เพศ" v-slot="props" centered>
                        <span>
                            <b-icon pack="fas" :icon="props.row.gender === 'Male' ? 'mars' : 'venus'"></b-icon>
                            {{ props.row.gender }}
                        </span>
                    </b-table-column>
                    <b-table-column v-slot="props" centered>
                        <b-button type="is-primary" @click="$router.push(`/rider/${props.row.id}`)">
                            ดูโปรไฟล์
                        </b-button>
                    </b-table-column>
                </b-table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            riderList: [
                { id: 1, firstName: 'Jesse', lastName: 'Simmons', registerDate: '2016/10/15 13:43:27', gender: 'Male' },
                { id: 2, firstName: 'John', lastName: 'Jacobs', registerDate: '2016/12/15 06:00:53', gender: 'Male' },
                { id: 3, firstName: 'Tina', lastName: 'Gilbert', registerDate: '2016/04/26 06:26:28', gender: 'Female' }
            ]
        }
    }
}
</script>

<style lang="scss">
@import '@/assets/scss/main.scss';
.rider-list {
    padding: 10px;
    background: white;
    animation: pushUp .5s ease;
}
</style>
