<template>
    <div class="app">
        <Navbar />
        <Menu />
        <FullWrapper />
        <div :class="['contents', isShowDrawerMenu && 'menu-show']">
            <nuxt />
        </div>
    </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields'
import Navbar from '@/components/Navbar'
import Menu from '@/components/Menu'
import FullWrapper from '@/components/FullWrapper'
export default {
    components: {
        Navbar,
        Menu,
        FullWrapper
    },
    computed: {
        ...mapFields('main', [
            'isShowDrawerMenu'
        ])
    }
}
</script>

<style lang="scss">
@import '@/assets/scss/main.scss';
.app {
    height: 100vh;
    .contents {
        position: fixed;
        overflow: auto;
        top: 55px;
        background: #F7F8FC;
        width: calc(100% - 250px);
        left: 250px;
        height: calc(100% - 55px);
        transition: .3s;
        @media screen and(max-width: 850px) {
            left: 0px;
            width: 100%;
        }
    }
}
</style>
