<template>
    <div class="index-page">
        <img src="@/assets/images/bg.png">
    </div>
</template>

<style lang="scss">
.index-page {
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
</style>
