<template>
    <div class="member-edit-page">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="body-contents">
            <div class="member-form push-up">
                <div class="img-container">
                    <img :src="memberEdit.image" class="profile-img">
                </div>
                <b-field label="ชื่อจริง">
                    <b-input v-model="memberEdit.firstName"></b-input>
                </b-field>
                <b-field label="นามสกุล">
                    <b-input v-model="memberEdit.lastName"></b-input>
                </b-field>
                <b-field label="อีเมล">
                    <b-input type="email" v-model="memberEdit.email"></b-input>
                </b-field>
                <b-field label="เบอร์โทร">
                    <PhoneSelector
                        :country="memberEdit.country"
                        :phoneNumber="memberEdit.phoneNumber"
                        @eventCountry="setCountry"
                        @event-phone-number="setPhoneNumber"
                        :phoneNumberInput="false"
                    ></PhoneSelector>
                </b-field>
                <div class="footer-tools">
                    <b-button class="is-success" style="width: 150px">
                        บันทึก
                    </b-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import countries from '@/plugins/countries.js'
export default {
    components: {
        Breadcrumb
    },
    data() {
        return {
            breadcrumbData: [
                {
                    title: 'back',
                    path: '/member'
                },
                {
                    title: 'Create Member'
                }
            ],
            memberEdit: {
                firstName: '',
                lastName: '',
                email: '',
                phoneNumber: '',
                country: countries[217],
                countryId: countries[217].id,
                image: 'https://www.pngkit.com/png/detail/372-3729814_profile-icon-my-profile-icon-png.png'
            }
        }
    }
}
</script>

<style lang="scss">
.member-form {
    width: 600px;
    max-width: 100%;
    .img-container {
        display: flex;
        justify-content: center;
        padding: 0px 1em;
        .profile-img {
            border-radius: 50%;
            width: 150px;
        }
    }
    .footer-tools {
        display: flex;
        justify-content: center;
        padding: 2em 0px;
    }
}
</style>
