<template>
    <div class="member-list-page">
        <div class="headbar">
            <h2>Member List</h2>
            <b-button class="is-dark" @click="$router.push('/member/create')">
                Create Member
            </b-button>
        </div>
        <div class="body-contents">
            <div class="member-list push-up" v-if="memberList.length > 0">
                <b-table :data="memberList">
                    <b-table-column field="first_name" label="ชื่อ" v-slot="props">
                        {{ props.row.firstName }}
                    </b-table-column>
                    <b-table-column field="last_name" label="นามสกุล" v-slot="props">
                        {{ props.row.lastName }}
                    </b-table-column>
                    <b-table-column field="date" label="วันที่สมัคร" centered v-slot="props">
                        {{ new Date(props.row.registerDate).toLocaleDateString() }}
                    </b-table-column>
                    <b-table-column v-slot="props" centered>
                        <b-button type="is-primary" @click="$router.push(`/member/${props.row.id}`)">
                            ดูโปรไฟล์
                        </b-button>
                    </b-table-column>
                </b-table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            memberList: [
                { id: 1, firstName: 'Jesse', lastName: 'Simmons', registerDate: '2016/10/15 13:43:27', gender: 'Male' },
                { id: 2, firstName: 'John', lastName: 'Jacobs', registerDate: '2016/12/15 06:00:53', gender: 'Male' },
                { id: 3, firstName: 'Tina', lastName: 'Gilbert', registerDate: '2016/04/26 06:26:28', gender: 'Female' }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.member-list-page {
    .body-contents {
        .member-list {
            width: 100%;
        }
    }
}
</style>
