<template>
    <div class="phone-selector">
        <div class="phone-country-form">
            <div class="country-selector" @click="visibleStyle='show'">
                <v-country-flag  :country="countrySelected.flagAlpha" size="normal" />
                <span v-if="!phoneNumberInput">{{ countrySelected.code }}</span>
                <i class="fa fa-caret-down"></i>
            </div>
            <input
                v-if="!phoneNumberInput"
                class="phone-number-input"
                type="tel"
                pattern="\d*"
                placeholder="โทรศัพท์มือถือ"
                id="phoneNumber"
                @keypress="isNumber($event)"
                :value="phoneNumber"
                :maxlength="phoneMaxLength"
                v-on:input="$emit('event-phone-number', $event.target.value)"
            />
            <div class="phone-number-text" v-else>
                <span>{{ `${country.code} ${phoneNumber}` }}</span>
            </div>
        </div>
        <div :class="['country-options', visibleStyle]" v-click-outside="checkOutSide">
            <div
                v-for="c in countryCode"
                v-bind:key="c.id"
                :class="countrySelected.alpha == c.alpha ? 'selected': ''"
                @click="selectCountry(c)"
            >
                <v-country-flag :country="c.flagAlpha" size="normal" />
                <span class="country-name">{{c.name}}</span>
                <span>{{c.code}}</span>
            </div>
        </div>
    </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import countryCode from '@/plugins/countries.js'
import mixin from '@/mixin'
export default {
    props: ['country', 'phoneNumber', 'phoneNumberInput'],
    mixins: [mixin],
    data() {
        return {
            countryCode,
            countrySelected: {
                alpha: 'TH',
                code: '+66',
                id: 218,
                name: 'Thailand'
            },
            visibleStyle: ''
        }
    },
    created() {
        if (this.country != '') {
            this.countrySelected = this.country
        }
    },
    mounted() {
        // prevent click outside event with popupItem.
        this.popupItem = this.$el
    },
    computed: {
        phoneMaxLength() {
            return this.countrySelected.flagAlpha == 'th' ? 10 : 20
        }
    },
    methods: {
        selectCountry(country) {
            this.countrySelected = country
            this.$emit('eventCountry', country)
            this.visibleStyle = ''
        },
        checkOutSide() {
            if (this.visibleStyle == 'show') {
                this.visibleStyle = ''
            }
        }
    },
    directives: {
        ClickOutside
    }
}
</script>

<style lang="scss" scoped>
.phone-selector {
    position: relative;
    .phone-country-form {
        height: 50px;
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        .phone-number-text {
            flex: 1;
            >span {
              padding: 10px;
            }
        }
        .country-selector {
            display: flex;
            align-items: center;
            height: 40px;
            width: max-content !important;
            padding: 0px 5px;
            cursor: pointer;
            transition: 0.3s;
            background-color: #fefefe;
            border-radius: 8px;
            border-color: transparent;
            color: #4a4a4a;
            border: 1px solid #ddd;
            &:hover {
                background: #fefefe;
            }
            > span {
                padding: 5px;
                margin-right: 10px;
                &.normal-flag {
                    margin-right: -10px;
                }
            }
        }
        .phone-number-input {
            margin-left: 10px;
            height: 40px;
            flex: 1;
            padding-left: 10px;
            background-color: #fefefe;
            border-radius: 4px;
            color: #363636;
            box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
            border: 1px solid #ddd;
        }
        > input {
            background-color: white;
            border-radius: 4px;
            margin-left: 10px;
            height: 40px;
            flex: 1;
            padding-left: 10px;
            color: #4a4a4a;
            border: 1px solid #ddd;
        }
    }
    .country-options {
        width: 100%;
        // border: 1px solid #dedede;
        max-height: 200px;
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        // background: white;
        z-index: 1;
        top: 0px;
        display: none;
        background: white;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, var(--vs-shadow-opacity));
        &.show {
            display: block;
            animation: slideLeft 0.3s ease;
        }
        > div {
            padding: 5px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40px;
            transition: 0.3s;
            &.selected {
                background: #ddd;
            }
            span {
                margin-right: 10px;
                &:nth-child(2) {
                    height: 40px;
                    line-height: 3.3em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:nth-child(3) {
                    color: #777;
                }
                &.normal-flag {
                    margin-right: -5px;
                }
            }
            .country-name {
                align-self: flex-end;
            }
            &:hover {
                background: #eee;
            }
        }
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
</style>
