<template>
    <div class="member-edit-page">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="body-contents">
            <div class="member-form push-up">
                <div class="img-container">
                    <img :src="memberEdit.image" class="profile-img">
                </div>
                <b-field label="ชื่อจริง">
                    <b-input v-model="memberEdit.firstName"></b-input>
                </b-field>
                <b-field label="นามสกุล">
                    <b-input v-model="memberEdit.lastName"></b-input>
                </b-field>
                <b-field label="อีเมล">
                    <b-input type="email" v-model="memberEdit.email"></b-input>
                </b-field>
                <b-field label="เบอร์โทร">
                    <PhoneSelector
                        :country="memberEdit.country"
                        :phoneNumber="memberEdit.phoneNumber"
                        @eventCountry="setCountry"
                        @event-phone-number="setPhoneNumber"
                        :phoneNumberInput="false"
                    ></PhoneSelector>
                </b-field>
                <div class="footer-tools">
                    <b-button class="is-success" style="width: 150px">
                        บันทึก
                    </b-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import countries from '@/plugins/countries.js'
export default {
    components: {
        Breadcrumb
    },
    data() {
        return {
            breadcrumbData: [
                {
                    title: 'back',
                    path: `/member/${this.$route.params.id}`
                },
                {
                    title: 'แก้ไขข้อมูล'
                }
            ],
            memberEdit: {
                firstName: 'elon',
                lastName: 'musk',
                email: 'elon.musk111@gmail.com',
                phoneNumber: '879998888',
                country: countries[217],
                countryId: countries[217].id,
                image: 'https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f47d4de7637290765bce495%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D1398%26cropX2%3D3908%26cropY1%3D594%26cropY2%3D3102'
            }
        }
    }
}
</script>

<style lang="scss">
.member-form {
    width: 600px;
    max-width: 100%;
    .img-container {
        display: flex;
        justify-content: center;
        padding: 0px 1em;
        .profile-img {
            border-radius: 50%;
            width: 150px;
        }
    }
    .footer-tools {
        display: flex;
        justify-content: center;
        padding: 2em 0px;
    }
}
</style>
