<template>
    <div class="member-view-page">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="body-contents">
            <Submenu :active="1" :member-id="$route.params.id"/>
            <div class="member-profile push-up">
                <div class="img-container">
                    <img :src="member.image" class="profile-img">
                </div>
                <h2>{{ member.firstName }} {{ member.lastName }}</h2>
                <div>
                    <p>เบอร์โทร : {{ member.phoneNumber }}</p>
                    <p>อีเมล : {{ member.email }}</p>
                </div>
                <div class="control-card">
                    <b-field label="สถานะการใช้งาน">
                        <b-switch :value="true">
                            ใช้งาน
                        </b-switch>
                    </b-field>
                    <b-field label="ระดับสมาชิก">
                        <b-select expanded placeholder="ระดับสมาชิก" v-model="member.tierId">
                            <option
                                v-for="t in tiers"
                                :value="t.id"
                                :key="t.id">
                                {{ t.name }}
                            </option>
                        </b-select>
                    </b-field>
                    <b-field label="Save Places">
                        <ul class="save-place-list">
                            <li>เลขที่ 21 อาคารทีเอสทีทาวเวอร์ ชั้น 20 ซอยเฉยพ่วง ถนนวิภาวดี-รังสิต แขวงจอมพล เขตจตุจักร กรุงเทพมหานคร 10900</li>
                            <li>252 ถ.รัชดาภิเษก แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพฯ 10310</li>
                        </ul>
                    </b-field>
                    <b-button expanded @click="$router.push(`/member/${$route.params.id}/places`)" class="is-primary">
                        จัดการ Save Places
                    </b-button>
                </div>
                <div class="footer-container">
                    <b-button expanded @click="$router.push(`/member/${$route.params.id}/edit`)" class="is-dark" size="is-medium">
                        แก้ไขโปรไฟล์
                    </b-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import Submenu from '@/components/member/Submenu'
import mixin from '@/mixin'
export default {
    mixins: [mixin],
    components: {
        Breadcrumb,
        Submenu
    },
    data() {
        return {
            breadcrumbData: [
                {
                    title: 'Member List',
                    path: '/member'
                },
                {
                    title: 'Elon Musk'
                }
            ],
            activeTab: 0,
            member: {
                firstName: 'Elon',
                lastName: 'Musk',
                phoneNumber: '0879998888',
                email: 'elon.musk111@gmail.com',
                tierId: 2,
                image: 'https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f47d4de7637290765bce495%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D1398%26cropX2%3D3908%26cropY1%3D594%26cropY2%3D3102'
            },
            tiers: [
                {
                    id: 1,
                    name: 'Silver'
                },
                {
                    id: 2,
                    name: 'Gold'
                },
                {
                    id: 3,
                    name: 'Platinum'
                }
            ]
        }
    }
}
</script>

<style lang="scss">
.member-profile {
    padding-top: 2em;
    width: 400px;
    max-width: 100%;
    margin-top: 2em;
    padding: 10px;
    .img-container {
        display: flex;
        justify-content: center;
        padding: 0px 1em;
        .profile-img {
            border-radius: 50%;
            width: 150px;
        }
    }
    .save-place-list {
        list-style: inside;
    }
    .control-card {
        padding: 1em 0px;
    }
    .footer-container {
        display: flex;
        justify-content: center;
        padding: 2em 0px;
    }
    >h2 {
        font-size: 1.7em;
        font-family: Kanit-Medium;
        text-align: center;
        margin: 1em;
        color: #b38500;
    }
}
.member-address {
    border-top: 1px solid #eee;
    padding: 2em 0px;
    >h2 {
        font-size: 1.5em;
        font-family: Kanit-Medium;
        margin: 1em;
    }
}
</style>
