<template>
    <div class="member-view-page">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="body-contents">
            <Submenu :active="2" :member-id="$route.params.id"/>
            <div class="order-contents push-up">
                <b-table :data="orderList">
                    <b-table-column field="date" label="วันที่" v-slot="props">
                        {{ props.row.registerDate }}
                    </b-table-column>
                    <b-table-column field="first_name" label="ชื่อ" v-slot="props">
                        {{ props.row.firstName }}
                    </b-table-column>
                    <b-table-column field="last_name" label="นามสกุล" v-slot="props">
                        {{ props.row.lastName }}
                    </b-table-column>
                    <b-table-column field="date" label="วันที่สมัคร" centered v-slot="props">
                        {{ new Date(props.row.registerDate).toLocaleDateString() }}
                    </b-table-column>
                </b-table>
            </div>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import Submenu from '@/components/member/Submenu'
import mixin from '@/mixin'
export default {
    mixins: [mixin],
    components: {
        Breadcrumb,
        Submenu
    },
    data() {
        return {
            breadcrumbData: [
                {
                    title: 'Member List',
                    path: '/member'
                },
                {
                    title: 'Elon Musk'
                }
            ],
            orderList: [
                { id: 1, firstName: 'Jesse', lastName: 'Simmons', registerDate: '2016/10/15 13:43:27', gender: 'Male' },
                { id: 2, firstName: 'John', lastName: 'Jacobs', registerDate: '2016/12/15 06:00:53', gender: 'Male' },
                { id: 3, firstName: 'Tina', lastName: 'Gilbert', registerDate: '2016/04/26 06:26:28', gender: 'Female' }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.order-contents {
    padding: 2em 0px;
    width: 1000px;
    max-width: 100%;
}
</style>
