<template>
    <div class="member-view-page">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="body-contents">
            <Submenu :active="3" :member-id="$route.params.id"/>
            <div class="payment-contents push-up">
                <b-table :data="paymentList">
                    <b-table-column field="id" label="เลขที่รายการ" v-slot="props">
                        {{ props.row.registerDate }}
                    </b-table-column>
                    <b-table-column field="type" label="ประเภท" v-slot="props">
                        {{ props.row.type }}
                    </b-table-column>
                    <b-table-column field="price" label="จำนวนเงิน" v-slot="props">
                        {{ numCommas(props.row.price) }}
                    </b-table-column>
                    <b-table-column field="date" label="วันทำรายการ" centered v-slot="props">
                        {{ new Date(props.row.registerDate).toLocaleDateString() }}
                    </b-table-column>
                </b-table>
            </div>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import Submenu from '@/components/member/Submenu'
import mixin from '@/mixin'
export default {
    mixins: [mixin],
    components: {
        Breadcrumb,
        Submenu
    },
    data() {
        return {
            breadcrumbData: [
                {
                    title: 'Member List',
                    path: '/member'
                },
                {
                    title: 'Elon Musk'
                }
            ],
            paymentList: [
                { id: 1, type: 'ค่าบริการ', price: 1999, registerDate: '2016/10/15 13:43:27' },
                { id: 2, type: 'ค่าบริการ', price: 1999, registerDate: '2016/12/15 06:00:53' },
                { id: 3, type: 'ค่าบริการ', price: 21999, registerDate: '2016/04/26 06:26:28' }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.payment-contents {
    padding: 2em 0px;
    width: 1000px;
    max-width: 100%;
}
</style>
