<template>
    <div class="member-view-page">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="body-contents">
            <div class="save-place-contents push-up">
                <div class="review-item" v-for="(p, index) in savePlaceList" :key="index">
                    <p>{{ p.name  }}</p>
                </div>
                <b-button>
                    เพิ่มที่อยู่
                </b-button>
            </div>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import mixin from '@/mixin'
export default {
    mixins: [mixin],
    components: {
        Breadcrumb
    },
    data() {
        return {
            breadcrumbData: [
                {
                    title: 'back',
                    path: `/member/${this.$route.params.id}`
                },
                {
                    title: 'Save Places'
                }
            ],
            savePlaceList: [
                {
                    name: 'บ้าน', // บ้าน
                    address: '',
                    details: 'บ้านเลขที่ 222/28',
                    note: 'หน้าบ้าน',
                    contactName: '', // ชื่อผู้ติดต่อ
                    contactPhone: ''
                }
            ]
        }
    },
    created() {
        console.log(this.$route.params.id)
    }
}
</script>

<style lang="scss">
.save-place-contents {
    width: 1000px;
    max-width: 100%;
    padding: 2em 0px;
}
</style>
