<template>
    <div class="member-view-page">
        <div class="headbar">
            <Breadcrumb :data="breadcrumbData"/>
        </div>
        <div class="body-contents">
            <Submenu :active="4" :member-id="$route.params.id"/>
            <div class="review-contents push-up">
                <div class="review-item" v-for="(r, index) in reviewList" :key="index">
                    <div class="head-review">
                        <h3>{{ r.shopName }}</h3>
                        <div>
                            {{ dateTimeFormat(r.date) }}
                        </div>
                    </div>
                    <b-rate
                        v-model="r.rating"
                        icon-pack="mdi"
                        icon="star"
                        :max="5"
                        show-score
                        :disabled="true">
                    </b-rate>
                    <div class="comment">
                        <p>{{ r.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrump'
import Submenu from '@/components/member/Submenu'
import mixin from '@/mixin'
export default {
    mixins: [mixin],
    components: {
        Breadcrumb,
        Submenu
    },
    data() {
        return {
            breadcrumbData: [
                {
                    title: 'Member List',
                    path: '/member'
                },
                {
                    title: 'Elon Musk'
                }
            ],
            reviewList: [
                {
                    shopName: 'ร้าน Starship 001',
                    rating: 4.5,
                    comment: 'อร่อยมากๆ สะอาด',
                    date: new Date()
                },
                {
                    shopName: 'ร้าน Starship 002',
                    rating: 4,
                    comment: 'ได้เยอะ บริการเร็ว พนักงานพูดเพราะ ร้านสะอาด',
                    date: new Date()
                },
                {
                    shopName: 'ร้าน Starship 003',
                    rating: 5,
                    comment: 'อร่อยมากๆ โคตรๆ สะอาด',
                    date: new Date()
                }
            ]
        }
    }
}
</script>

<style lang="scss">
.review-contents {
    width: 1000px;
    max-width: 100%;
    padding: 2em 0px;
    >.review-item {
        padding: 10px;
        border-bottom: 1px solid #eee;
        .head-review {
            display: flex;
            flex-direction: row;
            >h3 {
                font-family: Kanit-Medium;
                font-size: 1.2em;
                margin-bottom: 10px;
                flex: 1;
            }
        }
    }
}
</style>
